.mainbg {
    background: linear-gradient(to bottom, #00000000 0%, #00000000 5%, #171717cc 35%, #171717ea 55%, #171717ff 85%), url('~assets/images/background.jpg');
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.title-rgb {
    font-family: 'Montserrat', sans-serif;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3.5em;
    overflow: auto;
    animation:  dropdown-title 1.5s ease-in-out, shine 2.5s linear infinite;
    background: linear-gradient(to right, #a172a6 20%, #171717 35%, #171717 35%, #a172a6 50%);
    background-size: 200% auto;
    color: #a172a6;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background .5s ease-in-out, animation .5s ease-in-out;
}

.title-rgb:hover {
    background: linear-gradient(to right, #a172a6 20%, #fff 35%, #fff 35%, #a172a6 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:  dropdown-title 1.5s ease-in-out, shine 2.5s linear infinite;
    background-size: 200% auto;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

@keyframes dropdown-title {
    from {transform: translateY(-100vh);}
    to {transform: translateY(0);}
}
